<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>prePrimer</key>
	<array>
		<string>a</string>
		<string>and</string>
		<string>away</string>
		<string>big</string>
		<string>blue</string>
		<string>can</string>
		<string>come</string>
		<string>down</string>
		<string>find</string>
		<string>for</string>
		<string>funny</string>
		<string>go</string>
		<string>help</string>
		<string>here</string>
		<string>I</string>
		<string>in</string>
		<string>is</string>
		<string>it</string>
		<string>jump</string>
		<string>little</string>
		<string>look</string>
		<string>make</string>
		<string>me</string>
		<string>my</string>
		<string>not</string>
		<string>one</string>
		<string>play</string>
		<string>red</string>
		<string>run</string>
		<string>said</string>
		<string>see</string>
		<string>the</string>
		<string>three</string>
		<string>to</string>
		<string>two</string>
		<string>up</string>
		<string>we</string>
		<string>where</string>
		<string>yellow</string>
		<string>you</string>
	</array>
	<key>primer</key>
	<array>
		<string>all</string>
		<string>am</string>
		<string>are</string>
		<string>at</string>
		<string>ate</string>
		<string>be</string>
		<string>black</string>
		<string>brown</string>
		<string>but</string>
		<string>came</string>
		<string>did</string>
		<string>do</string>
		<string>eat</string>
		<string>four</string>
		<string>get</string>
		<string>good</string>
		<string>have</string>
		<string>he</string>
		<string>into</string>
		<string>like</string>
		<string>must</string>
		<string>new</string>
		<string>no</string>
		<string>now</string>
		<string>on</string>
		<string>our</string>
		<string>out</string>
		<string>please</string>
		<string>pretty</string>
		<string>ran</string>
		<string>ride</string>
		<string>saw</string>
		<string>say</string>
		<string>she</string>
		<string>so</string>
		<string>soon</string>
		<string>that</string>
		<string>there</string>
		<string>they</string>
		<string>this</string>
		<string>too</string>
		<string>under</string>
		<string>want</string>
		<string>was</string>
		<string>well</string>
		<string>went</string>
		<string>what</string>
		<string>white</string>
		<string>who</string>
		<string>will</string>
		<string>with</string>
		<string>yes</string>
	</array>
	<key>firstGrade</key>
	<array>
		<string>after</string>
		<string>again</string>
		<string>an</string>
		<string>any</string>
		<string>ask</string>
		<string>as</string>
		<string>by</string>
		<string>could</string>
		<string>every</string>
		<string>fly</string>
		<string>from</string>
		<string>give</string>
		<string>going</string>
		<string>had</string>
		<string>has</string>
		<string>her</string>
		<string>him</string>
		<string>his</string>
		<string>how</string>
		<string>just</string>
		<string>know</string>
		<string>let</string>
		<string>live</string>
		<string>may</string>
		<string>of</string>
		<string>old</string>
		<string>once</string>
		<string>open</string>
		<string>over</string>
		<string>put</string>
		<string>round</string>
		<string>some</string>
		<string>stop</string>
		<string>take</string>
		<string>thank</string>
		<string>them</string>
		<string>then</string>
		<string>think</string>
		<string>walk</string>
		<string>were</string>
		<string>when</string>
	</array>
	<key>secondGrade</key>
	<array>
		<string>always</string>
		<string>around</string>
		<string>because</string>
		<string>been</string>
		<string>before</string>
		<string>best</string>
		<string>both</string>
		<string>buy</string>
		<string>call</string>
		<string>cold</string>
		<string>does</string>
		<string>don&apos;t</string>
		<string>fast</string>
		<string>first</string>
		<string>five</string>
		<string>found</string>
		<string>gave</string>
		<string>goes</string>
		<string>green</string>
		<string>its</string>
		<string>made</string>
		<string>many</string>
		<string>off</string>
		<string>or</string>
		<string>pull</string>
		<string>read</string>
		<string>right</string>
		<string>sing</string>
		<string>sit</string>
		<string>sleep</string>
		<string>tell</string>
		<string>their</string>
		<string>these</string>
		<string>those</string>
		<string>upon</string>
		<string>us</string>
		<string>use</string>
		<string>very</string>
		<string>wash</string>
		<string>which</string>
		<string>why</string>
		<string>wish</string>
		<string>work</string>
		<string>would</string>
		<string>write</string>
		<string>your</string>
	</array>
	<key>thirdGrade</key>
	<array>
		<string>about</string>
		<string>better</string>
		<string>bring</string>
		<string>carry</string>
		<string>clean</string>
		<string>cut</string>
		<string>done</string>
		<string>draw</string>
		<string>drink</string>
		<string>eight</string>
		<string>fall</string>
		<string>far</string>
		<string>full</string>
		<string>got</string>
		<string>grow</string>
		<string>hold</string>
		<string>hot</string>
		<string>hurt</string>
		<string>if</string>
		<string>keep</string>
		<string>kind</string>
		<string>laugh</string>
		<string>light</string>
		<string>long</string>
		<string>much</string>
		<string>myself</string>
		<string>never</string>
		<string>only</string>
		<string>own</string>
		<string>pick</string>
		<string>seven</string>
		<string>show</string>
		<string>six</string>
		<string>small</string>
		<string>start</string>
		<string>ten</string>
		<string>today</string>
		<string>together</string>
		<string>try</string>
		<string>warm</string>
	</array>
</dict>
</plist>
